<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>

    <title>Entrance Page</title>

    <meta name="description" content="User login page"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" href="../../static/asserts/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/asserts/plugins/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="../../static/asserts/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../static/asserts/fbicons/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/asserts/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../static/asserts/plugins/layui/css/layui.css">
    <script type="text/javascript" src="http://livejs.com/live.js"></script>

</head>

<body style="background: #ecf0f5">


<div class="lockscreen-wrapper">

    <div class="lockscreen-logo">
        <a href="#"><b>Evaluate</b>CF RS</a>
    </div>
    <!-- User name -->
    <br>
    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
        <!-- lockscreen image -->
        <div class="lockscreen-image">
            <img src="../../static/images/rs-logo.jpg" alt="User Image">
        </div>

        <form class="lockscreen-credentials" action="main" method="post">

            <div class="input-group">

                <input class="form-control" placeholder="Session Code" name="sessioncode" type="text">

                <div class="input-group-btn">
                    <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                </div>


            </div>


        </form>




        <!-- /.lockscreen credentials -->

    </div>
    <!-- /.lockscreen-item -->
    <div class="help-block text-center">
        Enter a key to start a session
    </div>

    <div class="text-center help-block">
        Or <a href="main.html">start</a> as a guest
    </div>

    <div class="lockscreen-footer text-center">
        Copyright © 2017-2018 UCD, Congcong Wang. All rights reserved
        <a href="http://123.207.171.254"><strong> My Server</strong></a>
    </div>
</div>


</body>


<script src="../../static/asserts/jquery.min.js"></script>
<script src="../../static/asserts/bootstrap.min.js"></script>
<script src="../../static/asserts/plugins/completer.min.js"></script>
<script src="../../static/asserts/plugins/sweetalert/sweetalert-dev.js"></script>
<script src="../../static/asserts/plugins/layui/layui.js"></script>
<script src="../../static/asserts/adminlte.min.js"></script>


<script type="text/javascript">


</script>

</body>
</html>
