<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page 1</title>
</head>
<body>

<h1>This page is for testing</h1>
<h2>FYP Title : Evaluating Recommender System</h2>
<h2>The web application for FYP will start from here</h2>

<p>
    Student : Congcong Wang
    Supervisor: Micheal O’Mahony
    Project Title: Evaluating Recommender System
</p>

<a href="https://csprojects.ucd.ie/content/evaluating-recommender-systems-1">project details</a>
<br>
<a href="/log.html">logs</a>

<a></a>


<canvas id="myChart"></canvas>

</body>

<!--Load the AJAX API-->
<script type="text/javascript" src="../../static/asserts/plugins/Chart.bundle.min.js"></script>
<script type="text/javascript">

    var ctx = document.getElementById('myChart').getContext('2d');


    // var myBubbleChart = new Chart(ctx,{
    //     type: 'bubble',
    //     data: data,
    //     options: {}
    // });

    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

</html>